@charset "UTF-8";
@font-face {
    font-family: 'Idroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeue';
    src: url('../fontes/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor01: #F2F2F2;
    --cor02: #84E1AD;
    --cor03: #38C979;
    --cor04: #C5EBD6;
    --cor05: #063D1E;
    --cor06: #1A5C38;
    --cor07: #538F6C;
    --cor08: #326F4D;
    --cor09: #37AB6C;
    --cor10: #82B298;
}

body{
    background-color: var(--cor02);
    width: auto;
    height: auto;
    margin: 0px;
}

header{
    min-height: 150px;
    font-family: BebasNeue, Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    text-align: center;
    font-size: larger;
    color: var(--cor01); 
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor06));
    box-shadow: 2px 2px 2px var(--cor07);
    padding-top: 20px;  
}

header > h1{
    margin: 0px;
}

header > p{
    max-width: 500px;
    margin: auto;
    padding-top: 20px;
}

nav{
    background-color: var(--cor06);
    padding: 10px;
}

nav > a{
    text-decoration: none;
    color: var(--cor01);
    font-family: Arial, Helvetica, sans-seriff;
    font-weight: bolder;
    padding: 10px;
}

nav > a:hover{
    background-color: var(--cor09);
    color: var(--cor08);
    border-radius: 5px;
}

main{
   background-color: var(--cor01);
   max-width: 800px;
   min-width: 400px;
   height: auto;
   padding: 10px;
   margin: auto;
   text-align: justify;
   box-shadow: 2px 2px 2px var(--cor07);
   font-family: Arial, Helvetica, sans-serif;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
}

main > h1{
    color: var(--cor08);
    font-family: 'Idroid', Arial, Helvetica, sans-serif;
    margin: 0px;
}

main > h2{
    background-image: linear-gradient(to right, var(--cor10), var(--cor01));
    color: var(--cor08);
    padding: 3px;
    font-family: 'Idroid', Arial, Helvetica, sans-serif;
}

main > p{
    text-indent: 20px;
    padding: 10px;
}

main picture > img{
    width: 100%;
}

main  picture > img.pequeno{
    display: block;
    max-width: 350px;
    margin: auto;
}

main a{
    text-decoration: none;
    color: var(--cor06);

}

main a::after{
    content: '\1F517';
}

main a:hover{
    text-decoration: underline;
}

.video{
    background-color: var(--cor06);
    position: relative;
    padding: 20px;
    padding-bottom: 58%;
    margin: 0px 9px 30px 9px;
}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.extra{
    background-color: var(--cor04);
    border-radius: 10px;
}

.extra > h1{
    background-color: var(--cor09);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--cor01);
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.extra > p{
    padding: 5px;
    text-indent: 20px;
}

.extra > ul{
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
}

footer{
    background-color: var(--cor06);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor01);
    margin-top: 10px;
    padding: 5px;
}

footer > p{
    margin: 0px;
}